body {
    .wrapper {
        background: #f8f8f8;
                >div {
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;

            >div {
                background: #ffff;
                padding: 20px;
                text-align: center;
                width: 100%;
                grid-column: 1 / 13;
            }
        }
    }

}

.status {
    background-color: #d32424 !important;
}

#announcments {
    background-color: #ad1b1b !important;
}